<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">

    <title>Block | Web Chain</title>
</head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Web Chain</a>
        </div>
    </nav>

    <div class="container">
        <div class="card text-white bg-dark mb-5 mt-5 m p-5 border-success">
            <div class="card-body">
                <div class="container-fluid">
                    <h1 class="card-title mb-4">Block  <div class="badge bg-primary">{{ block.index }}</div></h1>
                </div>
                <table class="table table-bordered table-dark">
                    <tbody>
                        <tr>
                            <td>Version: </td>
                            <td>{{ block.version }}</td>
                        </tr>
                        <tr>
                            <td>Time (UTC): </td>
                            <td>{{ block.time }}</td>
                        </tr>
                        <tr>
                            <td>Difficulty: </td>
                            <td>{{ block.difficulty }}</td>
                        </tr>
                        <tr>
                            <td>Nonce: </td>
                            <td>{{ block.nonce }}</td>
                        </tr>
                        <tr>
                            {% if block.index != 0 %}
                                <td>Previous Hash: </td>
                                <td>
                                    <a href="/block/{{ block.prev_hash }}">
                                        {{ block.prev_hash }}
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Block Hash: </td>
                            <td>{{ block.hash }}</td>
                        </tr>
                    </tbody>
                </table>
                <h3 class="text-info text-center mb-4">Block Data: </h3>

                <div class="form-group">
                    <textarea class="form-control text-white bg-dark" disabled rows="20">{{ block.data }}</textarea>
                </div>
            </div>
        </div>


    </div>

</body>

</html>